<header class="bg-light">
  {{ page.header }}
</header>

<main>
  <span id="main-content" tabindex="-1"></span>{# link is in html.html.twig #}
  {{ page.content }}
</main>

<footer class="bg-dark">
  {{ page.footer }}
</footer>

