<header role="banner" class="bg-light">
  <div class="container">
    {{ page.header }}
  </div>
</header>

<main role="main">
  <div class="container py-2">

    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>
  </div>
</main>

<footer role="contentinfo" class="bg-dark min-vh-100">
  <div class="container">
    {{ page.footer }}
  </div>
</footer>

